.mb-rating-first-row {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 15px;
}

.mb-rating-goodRate {
  background-color: green;
  border-radius: 5px 0 0 5px;
}

.mb-rating-badRate {
  background-color: red;
  border-radius: 0 5px 5px 0;
}

.mb-rating-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}